[submodule "Minetestmapper"]
	path = Minetestmapper
	url = https://github.com/adrido/minetest-mapper-cpp/
[submodule "MinetestMapperGUI"]
	path = MinetestMapperGUI
	url = https://bitbucket.org/adrido/minetestmappergui/
