[submodule "Minetestmapper"]
	path = Minetestmapper
	url = https://github.com/adrido/minetest-mapper-cpp/
[submodule "MinetestMapperGUI"]
	path = MinetestMapperGUI
	url = https://github.com/adrido/MinetestMapperGUI.git
